ADMIN_TOKEN=change-this-now
ENABLE_REVERSE_PROXY_AUTH=false
REVERSE_PROXY_USER_HEADER=x-forwarded-user
REVERSE_PROXY_REQUIRED_VALUE=
PASSWORD_ENV_KEY=VNC_PW
DEFAULT_INTERNAL_PORT=6901/tcp
DEFAULT_NETWORK_MODE=bridge
DEFAULT_PROFILE_MOUNT_PATH=/home/kasm-user
INSTANCE_NAME_PREFIX=kasm-desktop-
PROFILE_VOLUME_PREFIX=kasm-profile-
MANAGED_LABEL=com.egli.kasm-manager.managed
PROXY_TEXT_REWRITE=true
LAUNCH_AUTOCONNECT=true
LAUNCH_RESIZE=remote
LAUNCH_VIEW_ONLY=false
